@model market.Models.Order

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header"></div>
            <h5 class="ml-5">Edit Order</h5>
            <form >
                <div class="modal-body">
                    <input id="Id" asp-for="Id" class="form-control" type="hidden" />
                    <label asp-for="Discount"></label>
                    <input id="Discount" asp-for="Discount" class="form-control" />
                    <span  asp-validation-for="Discount"></span><br />
                    <label asp-for="Tax"></label>
                    <input id="Tax" asp-for="Tax" class="form-control" />
                    <span asp-validation-for="Tax"></span><br />
                    <label asp-for="DeliveryPrice"></label>
                    <input id="DeliveryPrice" asp-for="DeliveryPrice" class="form-control" />
                    <span asp-validation-for="DeliveryPrice"></span><br />
                    <label asp-for="DeliveryAddress"></label>
                    <input id="DeliveryAddress" asp-for="DeliveryAddress" class="form-control" />
                    <span asp-validation-for="DeliveryAddress"></span><br />
                    <input id="TotalPrice" asp-for="TotalPrice" class="form-control" type="hidden" />
                    <input id="CustomerId" asp-for="CustomerId" class="form-control" type="hidden" />
                    <label asp-for="OrderDate"></label>
                    <input id="OrderDate" asp-for="OrderDate" class="form-control" />
                    <span asp-validation-for="OrderDate"></span><br />
                    <span id="error" class="text-danger"></span>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Submit" id="submitButton" onclick="mysubmit(event)" />
                    <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

