@model market.Models.Supplier

<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            .form-control{
                width:50%;
                margin-left:200px;
            }
            label{
                 margin-left:200px;
            }
            #isVip{
                 margin-left:450px;
            }
            .btn-secondary{
                margin-left:200px;
            }
            .btn-primary{
                margin-right:385px;
            }
            h5{
                color:white;
            }

            .text-danger {
                margin-left: 200px;
            }
             h2{      
                color:white;
            }
        </style>
    </head>

    <body>

<form class="form" method="post" action="@Url.Action("Create","Suppliers")">
    <h2>Create Supplier</h2>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input autocomplete="off" asp-for="Name" class="form-control" required/>
        <span asp-validation-for="Name" class="text-danger"></span><br />
    </div>
        <div class="d-flex justify-content-between">
        <a href="/Suppliers/Index" class="btn btn-secondary">Back</a>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>
</body>
</html>
