@model market.Models.EntryItems

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card card-warning card-outline">
                <div class="card-body box-profile" style="align-self: center; width:70%;">
                    <form class="form" method="post" action="@Url.Action("EditItem","ProductEntries")">
                        <h2>Edit Item</h2>
                        <div class="modal-body">
                            <input id="Id" asp-for="Id" class="form-control" type="hidden" />
                            <input id="ProdId" asp-for="ProdId" class="form-control" type="hidden" />
                            <input id="OrderId" asp-for="ProductEntryId" class="form-control" type="hidden" />
                            <input id="Price" asp-for="Price" class="form-control" type="hidden" />
                            <label asp-for="Quantity"></label>
                            <input id="Quantity" asp-for="Quantity" class="form-control" />
                            <input name="old_quantity" asp-for="Quantity" class="form-control" hidden />
                            <span asp-validation-for="Quantity"></span><br />
                            <span id="error" class="text-danger"></span>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Submit" id="submitButton" />
                            <button class="btn btn-light" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</div>

