<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Log in</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" hrefleft//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- ichecolorp -->
  <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

  <style>

 
  </style>

</head>
<body class="hold-transition login-page">
    <div class="">
            <p style=" font-size:110px;color:white;margin-left:30px;text-shadow: 2px 4px 4px rgba(0,0,0,0.2);">
                WELCOME</p> 
    </div>
    <div style=" color:white;margin-left:650px;text-shadow: 2px 4px 4px rgba(255,255,255,0.2);">
        <h3>Do you want to log in ?</h3>
        <button class="btn btn-light" onclick="window.location.href='/Account/Login';"
                style="margin-left:100px;">
            <b>Log In</b></button>
    </div>
    <div style=" color:white;margin-left:650px;text-shadow: 2px 4px 4px rgba(255,255,255,0.2);">
        <h3>Or you want to sign up ?</h3>
        <button class="btn btn-light" onclick="window.location.href='/Account/Register';"
                style="margin-left:100px;">
            <b>Sign Up</b></button>
    </div>

</body>
</html>
